<div class="ms-CommandBar">
  <div class="ms-CommandBarSearch"><input type="text" class="ms-CommandBarSearch-input" placeholder="Search...">
    <div class="ms-CommandBarSearch-iconWrapper ms-CommandBarSearch-iconSearchWrapper"><i class="ms-Icon ms-Icon--Search"></i></div>
    <div class="ms-CommandBarSearch-iconWrapper ms-CommandBarSearch-iconClearWrapper ms-font-s"><i class="ms-Icon ms-Icon--Cancel"></i></div>
  </div>
  <div role="menubar" class="ms-FocusZone" data-focuszone-id="FocusZone396">
    <div class="ms-CommandBar-primaryCommands">
      <div class="ms-CommandBarItem"><button name="New" icon="Add" data-automation-id="newItemMenu" id="CommandBar395newItem" class="ms-CommandBarItem-link"
          data-command-key="0" aria-haspopup="true" role="menuitem" aria-label="New. Use left and right arrow keys to navigate"
          tabindex="0"><i class="ms-Icon ms-Icon--Add ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">New</span><i class="ms-CommandBarItem-chevronDown ms-Icon ms-Icon--ChevronDown"></i></button></div>
      <div
        class="ms-CommandBarItem"><button name="Upload" icon="Upload" data-automation-id="uploadButton" id="CommandBar395upload" class="ms-CommandBarItem-link"
          data-command-key="1" aria-haspopup="false" role="menuitem" aria-label="Upload" tabindex="-1"><i class="ms-Icon ms-Icon--Upload ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">Upload</span></button></div>
    <div
      class="ms-CommandBarItem"><button name="Share" icon="Share" id="CommandBar395share" class="ms-CommandBarItem-link" data-command-key="2" aria-haspopup="false"
        role="menuitem" aria-label="Share" tabindex="-1"><i class="ms-Icon ms-Icon--Share ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">Share</span></button></div>
  <div
    class="ms-CommandBarItem"><button name="Download" icon="Download" id="CommandBar395download" class="ms-CommandBarItem-link" data-command-key="3"
      aria-haspopup="false" role="menuitem" aria-label="Download" tabindex="-1"><i class="ms-Icon ms-Icon--Download ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">Download</span></button></div>
<div
  class="ms-CommandBarItem"><button name="Move to..." icon="MoveToFolder" id="CommandBar395move" class="ms-CommandBarItem-link" data-command-key="4"
    aria-haspopup="false" role="menuitem" aria-label="Move to..." tabindex="-1"><i class="ms-Icon ms-Icon--MoveToFolder ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">Move to...</span></button></div>
  <div
    class="ms-CommandBarItem"><button id="CommandBar395overflow" class="ms-CommandBarItem-link" role="menuitem" aria-label="More options" aria-haspopup="true"
      data-automation-id="commandBarOverflow" tabindex="0"><i class="ms-CommandBarItem-overflow ms-Icon ms-Icon--More"></i></button></div>
    </div>
    <div class="ms-CommandBar-sideCommands">
      <div class="ms-CommandBarItem"><button name="Sort" icon="SortLines" id="CommandBar395sort" class="ms-CommandBarItem-link" data-command-key="0" aria-haspopup="false"
          role="menuitem" aria-label="Sort" tabindex="-1"><i class="ms-Icon ms-Icon--SortLines ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">Sort</span></button></div>
      <div
        class="ms-CommandBarItem"><button name="Grid view" icon="Tiles" id="CommandBar395tile" class="ms-CommandBarItem-link" data-command-key="1" aria-haspopup="false"
          role="menuitem" aria-label="Grid view" tabindex="0"><i class="ms-Icon ms-Icon--Tiles ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">Grid view</span></button></div>
    <div
      class="ms-CommandBarItem"><button name="Info" icon="Info" id="CommandBar395info" class="ms-CommandBarItem-link" data-command-key="2" aria-haspopup="false"
        role="menuitem" aria-label="Info" tabindex="-1"><i class="ms-Icon ms-Icon--Info ms-CommandBarItem-icon ms-CommandBarItem-iconColor"></i><span class="ms-CommandBarItem-commandText">Info</span></button></div>
      </div>
      </div>
      </div>