<div class="ms-GettingStartedPage">
  <div class="ms-GettingStartedPage-banner">
    <h1>choicegroup component</h1>
    <h3>A library of reusable, generic Angular components</h3>
  </div>
  <h2>Overview</h2>
  <p>Fabric React components are built as production ready components to be used in Microsoft products, but generalized, documented,
    and reusable. This enables us and our partners to more easily build great applications without spending a ton of time
    implementing the same things over and over.</p>

  <!--Nav-->
  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">ChoiceGroup</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <fabric-choice-group name="Select">
        <fabric-choice-option name="optionA">Option A</fabric-choice-option>
        <fabric-choice-option name="optionB">Option B</fabric-choice-option>
      </fabric-choice-group>
    </div>
  </div>
  <!--Nav:End-->
</div>