<div class="ms-GettingStartedPage">
  <div class="ms-GettingStartedPage-banner">
    <h1>button component</h1>
    <h3>A library of reusable, generic Angular2 components</h3>
  </div>
  <h2>Overview</h2>
  <p>Fabric React components are built as production ready components to be used in Microsoft products, but generalized, documented,
    and reusable. This enables us and our partners to more easily build great applications without spending a ton of time
    implementing the same things over and over.</p>

  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Normal Button</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <!--<div class="ExampleCard-code">
      <h3>hello</h3>
    </div>-->
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Normal button</label>
        <fabric-button (click)="onClick($event)">Create Account</fabric-button>
      </div>
    </div>
  </div>

  <!--Disabled Button-->
  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Disabled Button</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Disabled button</label>
        <fabric-button disabled="true">Create Account</fabric-button>
      </div>
    </div>
  </div>

  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Primary Button</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Primary button</label>
        <fabric-primary-button>Create Account</fabric-primary-button>
      </div>
    </div>
  </div>

  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Icon Button</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Icon button</label>
        <fabric-icon-button icon="AddFriend"></fabric-icon-button>
      </div>
    </div>
  </div>

  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Hero Button</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Hero button</label>
        <fabric-hero-button icon="Add">Create account</fabric-hero-button>
      </div>
    </div>
  </div>

  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Compound Button</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Compound button</label>
        <fabric-compound-button description="You can create a new account here">Create account</fabric-compound-button>
      </div>
    </div>
  </div>

  <!--Command Button-->
  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Command Button</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Command button</label>
        <fabric-command-button icon="AddFriend">Create account</fabric-command-button>
      </div>
    </div>
  </div>

  <!--Button with -->
  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Button with aria description for screen reader</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <div class="ms-BasicButtonsExample">
        <label class="ms-Label">Button with aria description for screen reader</label>
        <fabric-button ariaDescription="This is aria description used for screen reader.">Create account</fabric-button>
      </div>
    </div>
  </div>
</div>