<div class="ms-Checkbox">
    <input type="checkbox"
        [required]="required"
        [checked]="checked"
        [disabled]="disabled"
        type="checkbox" 
        class="ms-Checkbox-input" 
        tabindex="0" 
        [value]="checked"
        [attr.name]="name" 
        [formControl]="control"
        [checked]="checked">
      <label (click)="onClick($event)" [for]="name" class="ms-Checkbox-label" [class.is-disabled]="disabled" [class.is-checked]="checked">
          <span class="ms-Label" [class.is-required]="required">
              <ng-content></ng-content>
        </span>
      </label>
</div>
<!--<div class="ms-Checkbox">
    <input id="checkbox-196" name="checkbox-196" class="ms-Checkbox-input" type="checkbox" aria-checked="false">
    <label for="checkbox-196" class="ms-Checkbox-label">
        <span class="ms-Label">Uncontrolled checkbox</span>
    </label>
</div>
<div class="ms-Checkbox">
    <input id="checkbox-197" name="checkbox-197" class="ms-Checkbox-input" type="checkbox" aria-checked="true" checked="">
    <label for="checkbox-197" class="ms-Checkbox-label is-checked">
        <span class="ms-Label">Uncontrolled checkbox with defaultChecked true</span>
    </label>
</div>
<div class="ms-Checkbox">
    <input disabled="" id="checkbox-198" name="checkbox-198" class="ms-Checkbox-input" type="checkbox" aria-checked="true" checked="">
    <label for="checkbox-198" class="ms-Checkbox-label is-checked is-disabled">
        <span class="ms-Label">Disabled uncontrolled checkbox with defaultChecked true</span>
    </label>
</div>-->