<div class="ms-ChoiceFieldGroup" role="radiogroup">
    <div class="ms-ChoiceFieldGroup-title">
        <label class="ms-Label is-required" id="ChoiceGroup238-label">Pick one</label>
    </div>
    <div class="ms-ChoiceField">
        <input id="ChoiceGroup238-A" class="ms-ChoiceField-input" type="radio" name="ChoiceGroup238">
        <label for="ChoiceGroup238-A" class="ms-ChoiceField-field">
            <span id="ChoiceGroupDescription239-A" class="ms-Label">Option A</span>
        </label>
    </div>
</div>
<!--<div class="ms-ChoiceFieldGroup" role="radiogroup" aria-labelledby="ChoiceGroup238-label">
    <div class="ms-ChoiceFieldGroup-title">
        <label class="ms-Label is-required" id="ChoiceGroup238-label">Pick one</label>
    </div>
    <div
        class="ms-ChoiceField">
        <input id="ChoiceGroup238-A" class="ms-ChoiceField-input" type="radio" name="ChoiceGroup238" aria-describedby="ChoiceGroupDescription239-A">
        <label for="ChoiceGroup238-A" class="ms-ChoiceField-field">
            <span id="ChoiceGroupDescription239-A" class="ms-Label">Option A</span>
        </label>
    </div>
    <div class="ms-ChoiceField">
        <input id="ChoiceGroup238-B" class="ms-ChoiceField-input" type="radio" name="ChoiceGroup238" checked="" aria-describedby="ChoiceGroupDescription239-B">
        <label for="ChoiceGroup238-B" class="ms-ChoiceField-field is-checked">
            <span id="ChoiceGroupDescription239-B" class="ms-Label">Option B</span>
        </label>
    </div>
    <div class="ms-ChoiceField">
        <input id="ChoiceGroup238-C" class="ms-ChoiceField-input" type="radio" name="ChoiceGroup238" disabled="" aria-describedby="ChoiceGroupDescription239-C">
        <label for="ChoiceGroup238-C" class="ms-ChoiceField-field is-disabled">
            <span id="ChoiceGroupDescription239-C" class="ms-Label">Option C</span>
        </label>
    </div>
    <div class="ms-ChoiceField">
        <input id="ChoiceGroup238-D" class="ms-ChoiceField-input" type="radio" name="ChoiceGroup238" disabled="" aria-describedby="ChoiceGroupDescription239-D">
        <label for="ChoiceGroup238-D" class="ms-ChoiceField-field is-disabled">
            <span id="ChoiceGroupDescription239-D" class="ms-Label">Option D</span>
        </label>
    </div>
</div>

<div class="ms-ChoiceFieldGroup" role="radiogroup" aria-labelledby="ChoiceGroup240-label">
    <div class="ms-ChoiceFieldGroup-title">
        <label class="ms-Label" id="ChoiceGroup240-label">Pick one image</label>
    </div>
    <div class="ms-ChoiceField ms-ChoiceField--image">
        <input id="ChoiceGroup240-bar" class="ms-ChoiceField-input" type="radio" name="ChoiceGroup240" aria-describedby="ChoiceGroupDescription241-bar">
        <label for="ChoiceGroup240-bar" class="ms-ChoiceField-field--image is-checked">
            <div class="ms-ChoiceField-innerField">
                <div class="ms-ChoiceField-imageWrapper is-hidden">
                    <div class="ms-Image" style="width:50px;height:50px;">
                        <img src="" class="ms-Image-image is-fadeIn is-notLoaded is-error ms-Image-image--scaleWidthHeight">
                    </div>
                </div>
                <div class="ms-ChoiceField-imageWrapper">
                    <div class="ms-Image" style="width:50px;height:50px;">
                        <img src="" class="ms-Image-image is-fadeIn is-notLoaded is-error ms-Image-image--scaleWidthHeight">
                    </div>
                </div>
            </div>
            <div class="ms-ChoiceField-labelWrapper">
                <i class="ms-ChoiceField-icon ms-Icon ms-Icon--CheckMark"></i>
                <span id="ChoiceGroupDescription241-bar" class="ms-Label">Bar chart</span>
            </div>
        </label>
    </div>
    <div class="ms-ChoiceField ms-ChoiceField--image">
        <input id="ChoiceGroup240-pie" class="ms-ChoiceField-input" type="radio" name="ChoiceGroup240" aria-describedby="ChoiceGroupDescription241-pie">
        <label for="ChoiceGroup240-pie" class="ms-ChoiceField-field--image">
            <div class="ms-ChoiceField-innerField">
                <div class="ms-ChoiceField-imageWrapper">
                    <div class="ms-Image" style="width:50px;height:50px;">
                        <img src="assets/choicegroup-bar-selected.png" class="ms-Image-image is-fadeIn is-loaded ms-u-fadeIn400 ms-Image-image--scaleWidthHeight">
                    </div>
                </div>
                <div class="ms-ChoiceField-imageWrapper is-hidden">
                    <div class="ms-Image" style="width:50px;height:50px;">
                        <img src="" class="ms-Image-image is-fadeIn is-notLoaded is-error ms-Image-image--scaleWidthHeight">
                    </div>
                </div>
            </div>
            <div class="ms-ChoiceField-labelWrapper">
                <i class="ms-ChoiceField-icon ms-Icon ms-Icon--CheckMark"></i>
                <span id="ChoiceGroupDescription241-pie" class="ms-Label">Pie chart</span>
            </div>
        </label>
    </div>
</div>
            -->