<div class="ms-GettingStartedPage">
  <div class="ms-GettingStartedPage-banner">
    <h1>nav component</h1>
    <h3>A library of reusable, generic Angular2 components</h3>
  </div>
  <h2>Overview</h2>
  <p>Fabric React components are built as production ready components to be used in Microsoft products, but generalized, documented,
    and reusable. This enables us and our partners to more easily build great applications without spending a ton of time
    implementing the same things over and over.</p>

  <!--Nav-->
  <div class="ExampleCard">
    <div class="ExampleCard-header"><span class="ExampleCard-title ms-font-l">Navigation Menu</span>
      <div class="ExampleCard-toggleButtons ms-font-l">
        <fabric-icon-button class="ExampleCard-codeButton" icon="Embed">Show code</fabric-icon-button>
      </div>
    </div>
    <div class="ExampleCard-example">
      <fabric-nav>
        <fabric-nav-group name="Basic Components" expanded="true">
          <fabric-nav-link name="Button" [routerLink]="['./component-1']"></fabric-nav-link>
          <fabric-nav-link name="Nav" [routerLink]="['./component-2']"></fabric-nav-link>
        </fabric-nav-group>
        <fabric-nav-group name="Layout Components">
          <fabric-nav-link name="Button" [routerLink]="['./layout-1']"></fabric-nav-link>
          <fabric-nav-link name="Nav" [routerLink]="['./layout-2']"></fabric-nav-link>
        </fabric-nav-group>
      </fabric-nav>
    </div>
  </div>
  <!--Nav:End-->

</div>